/**
 * This stylesheet is used to style the settings page of the plugin.
 */


#cf7-smtp {


	.integration-icon {
		display: inline-block;
		padding-block: inherit;
		margin: 0 0 0 0.7em;
		width: 30px;
	}

	.title {
		display: inline-block;
	}

	.infobox {
		display: inline-block;
	}

	div#cf7-smtp-auth label {
		display: block;
		margin-bottom: 10px;
	}

	select,
	input[type="email"],
	input[type="text"],
	input[type="number"] {
		width: 100%;
	}

	input#cf7_smtp_user_pass.unsafe {
		box-shadow: 0 0 0 1px $red inset;
	}

	input[type="submit"] {

		@extend %button;
	}

	.tip.schedule {
		padding: 8px 16px;
		margin: 16px auto 0;
		display: flex;
		justify-content: center;
		background: #ffebeb;
		border: 1px solid $red;
		border-radius: 5px;

		* {
			margin: 0 8px;
			padding: 0;
		}

		h1 {
			font-size: 30px;
		}
	}

}
