$red: #f44336;
$green: #4caf50;
$blue: #3372b3;
$grayish_blue: #2f333a;

/* button template */
%button {
  margin: 1rem 1rem 0 auto;
  display: flex;
}

// This stylesheet is used to style the settings page of the plugin.
#cf7-smtp-settings {
  div#cf7-smtp-auth label {
	display: block;
	margin-bottom: 10px;
  }

  select,
  input[type="email"],
  input[type="text"],
  input[type="number"]{
	width: 100%
  }

  input#cf7_smtp_user_pass.unsafe {
	box-shadow: 0 0 0 1px $red inset;
  }

  input[type='submit'] {
	@extend %button
  }

  .tip.schedule {
	padding: 8px 16px;
	margin: 16px auto 0;
	display: flex;
	justify-content: center;
	background: #ffebeb;
	border: 1px solid $red;
	border-radius: 5px;
	* {
	  margin: 0 8px;
	  padding: 0;
	}
	h1 {
	  font-size: 30px;
	}
	.monospace {

	}
  }
}

.smtp-style-chart {
  h4 {
	text-align: center;
  }
  #pie-chart {
	margin: 50px;
  }
}

#sendmail-testform {
  // the test form style
  form {
	clear: both;
	label,
	input,
	textarea {
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	  margin-bottom: .4rem;
	}
	button {
	  @extend %button
	}
  }

  // the test form output box
  pre {
	padding: 30px 20px;
	box-sizing: border-box;
	border-left: 3px solid $grayish_blue;
	background: $grayish_blue;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&.enabled {
	  border-color: $blue;
	}

	&.ok {
	  border-color: $green;
	}

	&.error {
	  border-color: $red;
	}

	code {
	  white-space: break-spaces;
	  font-size: .8rem;
	  color: white;
	  background: darken($grayish_blue, .10);
	}

	span.timestamp {
	  text-align: right;
	  font-size: 11px;
	  font-weight: bold;
	  color: white;
	  background: $blue;
	  display: block;
	  margin: 4px 0 4px auto;
	  padding: 2px 8px;
	  border-radius: 4px;
	  line-height: 1;
	}
  }
}
