// This stylesheet is used to style the settings page of the plugin.
#cf7-smtp-settings {

  button[type='submit'] {
	float: right;
  }
}


#sendmail-testform {
  // the test form style
  form {
	clear: both;
	label,
	input,
	textarea {
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	  margin-bottom: .4rem;
	}
	button {
	  margin: 1rem 1rem 1rem auto;
	  display: flex;
	}
  }

  // the test form output box
  pre {
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid #f3f3f3;
	border-radius: 8px;

	code {
	  white-space: break-spaces;
	  font-size: .8rem;
	}
  }
}
