%button {
  margin: 1rem 1rem 1rem auto;
  display: flex;
}

// This stylesheet is used to style the settings page of the plugin.
#cf7-smtp-settings {
  div#cf7-smtp-auth label {
	display: block;
	margin-bottom: 10px;
  }

  select,
  input[type="email"],
  input[type="text"],
  input[type="number"]{
	width: 100%
  }

  input[type='submit'] {
	@extend %button
  }
}


#sendmail-testform {
  // the test form style
  form {
	clear: both;
	label,
	input,
	textarea {
	  display: flex;
	  justify-content: space-between;
	  width: 100%;
	  margin-bottom: .4rem;
	}
	button {
	  @extend %button
	}
  }

  // the test form output box
  pre {
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid #2f333a;
	background: #2f333a;
	border-radius: 8px;

	code {
	  white-space: break-spaces;
	  font-size: .8rem;
	  color: white;
	  background: rgba(0,0,0,0.5);
	}
	&.ok {
		border-color: #4caf50;
	}
	&.error {
	  border-color: #f44336;
	}
  }
}
